.card{
    width:250px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label{
    width: max-content ;
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
}

.description{
    font-size: 14px;
}

.star{
    color: gold;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}